.label {
    width: 1243px;
    margin-top: 105px;
}

.label button:nth-child(4n) {
    margin: 0px 0px 25px 0px;
}

.label button:not(:nth-child(4n)) {
    margin: 0px 10px 25px 0px;
}

.label button {
    width: 300px;
    border: 0;
    border-radius: 5px;
    background-color: #e6eef7;
    box-shadow: 0px 0px 10px #acb0b8;
}

.label button:hover {
    cursor: pointer;
}

.label button:active {
    opacity: 75%;
}

.label button img {
    width: 300px;
    border-radius: 5px 5px 0px 0px;
}

.label button .text {
    margin: 5px 20px 15px 20px;
    text-align: start;
}

.label button .text span {
    margin-top: 15px;
}

.label button h1 {
    font-size: 22px;
    font-weight: 700;
}

.label button h2 {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #12C5FE;
}

.label button h4 {
    font-size: 15px;
    font-weight: 500;
    color: #999999;
}

.checked {
    color: orange;
}

.notchecked {
    color: #acb0b8;
}
