.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 300px;
    height: 100px;
    background-color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 100px;
    box-shadow: 0px 0px 5px #9de6de;
}

.btn:first-child {
    margin-right: 50px;
}

.btn:hover {
    cursor: pointer;
}

.btn:active {
    opacity: 75%;
}

.popup {
    margin-top: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1243px;
    height: 100vh;
    background-color: #f0f0f0;
    position: absolute;
    top: 0;
    z-index: 0;
    visibility: hidden;
}

.open-popup {
    visibility: visible;
}

.popup .title {
    justify-self: center;
}

.container .popup .text-box {
    resize: none;
}

input, textarea {
    outline: 0;
}

#getName, textarea {
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #9de6de;
    font-size: 20px;
}

#getName {
    margin-bottom: 35px;
}

#getPicture {
    margin-bottom: 35px;
}

#skill {
    margin-bottom: 35px;
}

.description textarea {
    margin-bottom: 15px;
}

#create {
    width: 717px;
    padding: 8px 15px;
    border: 0;
    border-radius: 5px;
    background-color: #10c2b0;
    color: #fff;
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 100px;
    box-shadow: 0px 0px 5px #9de6de;
}

#create:active {
    background-color: #0da394;
}

h2 {
    margin-bottom: 10px;
}

#getName {
    height: 40px;
    width: 717px;
}
