<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="../static/css/over_all.css">
        <link rel="stylesheet" href="../static/css/freelancer.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <title>***NAME-FREELANCER***</title>
    </head>
    <body>
        <header>
            <div class="frame">
                <img src="../static/images/logo.png" alt="logo">
                <div class="buttons">
                    <button>Projects</button>
                    <button>Freelancers</button>
                </div>
                <button id="create">Create +</button>
            </div>
        </header>
        <div class="container">
            <div class="card">
                <img src="../static/images/user.png" alt="user-photo">
                <div><h1>John Doe</h1></div>
                <div><h4>B2 Informatique</h4></div>
                <span class="fa fa-star checked fa-2x"></span>
                <span class="fa fa-star checked fa-2x"></span>
                <span class="fa fa-star checked fa-2x"></span>
                <span class="fa fa-star checked fa-2x"></span>
                <span class="fa fa-star notchecked fa-2x"></span><br>
                <div class="ratePerHour">10€/h</div>
                <button>Contact</button>
            </div>
            <div class="description">
                <h1>Services</h1>
                <p>
                    Development of Custom Games.<br>
                    Creation of bespoke video games using languages such as Unity and C#, with expertise in mobile and web-based game development.<br><br>

                    Conception de Jeux et Game Design.<br>
                    Expertise in game design, including user experience (UX) design, game mechanics and storytelling, for compelling game experiences.<br><br>

                    Multi-platform development.<br>
                    Adapting games for different platforms such as PC, consoles, and mobile, to maximise reach and accessibility.<br><br>

                    Maintenance et Mises à Jour.<br>
                    We offer ongoing maintenance and update services to guarantee the durability and quality of the games we develop.<br><br>

                    Web Development and Cloud Services Integration.<br>
                    Compétence dans le développement web et l'intégration de services cloud pour des fonctionnalités en ligne dans les jeux.
                </p>
                <h1>My Projects</h1>
                <p>
                    Virtual Life Simulation.<br>
                    To develop a realistic life simulation game, offering players the chance to create and manage avatars in a virtual environment, simulating various aspects of everyday life.<br><br>

                    Virtual Reality (VR) Educational Game.<br>
                    To create an educational virtual reality game focusing on interactive learning. This project could explore subjects such as history, science or foreign languages in an immersive way.<br><br>

                    Multi-platform strategy.<br>
                    Design a multi-platform real-time strategy game, allowing players to compete on different devices, including PCs, consoles and mobiles, with seamless synchronisation between platforms.<br><br>

                    Interactive narrative game.<br>
                    Developing an interactive narrative game offering an immersive experience where players' choices directly influence the unfolding of the story, creating a unique experience for each user.<br><br>

                    Online collaborative puzzle game.<br>
                    To create an online puzzle game that allows several players to collaborate in real time to solve complex puzzles, encouraging cooperation and team problem-solving.
                </p>
            </div>
        </div>
    </body>
</html>
