<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../assets/css/over_all.css">
        <link rel="stylesheet" href="../assets/css/home.css">
        <title>Home</title>
    </head>
    <body>
        <nav>
            <div class="frame">
                <h1>YHelp</h1>
                <button>Project</button>
                <button>Freelancer</button>
            </div>
        </nav>
        <div class="label">
            <button>
                <img src="../assets/images/project-icon-1.png" alt="project-icon">
                <div class="text">
                    <h1>Legends of Arena</h1>
                    <p>Legends of Arena, un jeu de combat en arène stratégique et passionnant ! Incarnez des classes de guerriers légendaires du monde entier à travers des auras magiques. Choisissez parmi une variété de classes RPG classiques, développez vos compétences, équipez-vous et battez-vous pour la gloire !</p>
                    <div id="tag">#gamedev #indiegame #unity</div>
                </div>
            </button>
        </div>
    </body>
</html>
