<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/over_all.css">
    <link rel="stylesheet" href="../static/css/create.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="../static/favicon/ynov.png">
    <title>Login</title>
</head>
<body>
    <header>
        <div class="frame">
            <img onclick="window.location.href='/'" src="../static/images/logo.png" alt="logo">
            <div class="buttons">
                <button onclick="window.location.href='/projects'">Projects</button>
                <button onclick="window.location.href='/freelancers'">Freelancers</button>
            </div>
            <button id="create" onclick="window.location.href='/new'">New +</button>
        </div>
    </header>
</body>
</html>