<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/project.css">
    <link rel="stylesheet" href="../static/css/over_all.css">
    <script src="../static/js/project.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="../static/favicon/ynov.png">
    <title>{{data['name']}}</title>
</head>
<body>
    <header>
        <div class="frame">
            <img onclick="window.location.href='/'" src="../static/images/logo.png" alt="logo">
            <div class="buttons">
                <button onclick="window.location.href='/projects'">Projects</button>
                <button onclick="window.location.href='/freelancers'">Freelancers</button>
            </div>
            <button id="create" onclick="window.location.href='/new'">New +</button>
        </div>
    </header>
    <div class="board">
        <div class="primary">
            <h1 class="title">{{data['name']}}</h1>
            <div class="highlight">
                <img src="{{data['highlight']}}" alt="not Here">
            </div>
            <div class="summary">
                <p class="summary">{{data['summary']}}</p>
            </div>
            <div class="tags">{% for Bruxomanie in data['tags'] %}<p class="tag">{{Bruxomanie}}</p>{% endfor %}</div>
            <div class="project">
                <h3>Project</h3>
                <p class="description">{{data['description']}}</p>
            </div>
        </div> 
        <div class="card">
            <img src="{{data['userpicture']}}" alt="" class="picture">
            <h1 class="name">{{data['pseudo']}}</h1>
            <h4 class="level">{{data['level']}}</h4>
            <div class="info">
                <button onclick="copy('mail')" value="{{data['email']}}" id="mail" class="mail"><img src="../static/images/verifier.png" alt="" id="mailValid" class="mailValid"><img src="../static/images/mail.png" alt="" id="mailLogo" class="notHide"></button>
                <h4>{{data['email']}}</h4>
            </div>
            <div class="info">
                <button onclick="copy('phone')" value="{{data['phone']}}" id="phone" class="phone"><img src="../static/images/verifier.png" alt="" id="phoneValid" class="phoneValid"><img src="../static/images/mail.png" alt="" id="phoneLogo" class="notHide"></button>
                <h4>{{data['phone']}}</h4>
            </div>
        </div>
    </div>
</body>
</html>