<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/project.css">
    <link rel="stylesheet" href="../static/css/over_all.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <title>***TITLE-PROJECT***</title>
</head>
<body>
    <header>
        <div class="frame">
            <img onclick="window.location.href='/'" src="../static/images/logo.png" alt="logo">
            <div class="buttons">
                <button onclick="window.location.href='/projects'">Projects</button>
                <button onclick="window.location.href='/freelancers'">Freelancers</button>
            </div>
            <button id="create" onclick="window.location.href='/new'">New +</button>
        </div>
    </header>
    <div class="board">
        <div class="primary">
            <h1 class="title">{{data['title']}}</h1>
            <div class="highlight">
                <img src="{{data['highlight']}}" alt="">
            </div>
            <p class="summary">{{data['summary']}}</p>
            <div class="tags">{% for tag in data['tags'] %}<p class="tag">{{tag}}</p>{% endfor %}</div>
            <h3>Project</h3>
            <p class="description">{{data['description']}}</p>
        </div> 
        <div class="card">
            <img src="{{data['user']['picture']}}" alt="" class="picture">
            <h1 class="name">{{data['user']['name']}}</h1>
            <h4 class="level">{{data['user']['level']}}</h4>
            <div class="mail info">
                <button onclick="copy('mail')" value="{{data['user']['mail']}}" id="mail"><img src="../static/images/mail.png" alt=""></button>
                <h4>{{data['user']['mail']}}</h4>
            </div>
            <div class="phone info">
                <button onclick="copy('phone')" value="{{data['user']['phone']}}" id="phone"><img src="../static/images/mail.png" alt=""></button>
                <h4>{{data['user']['phone']}}</h4>
            </div>
        </div>
    </div>
</body>
</html>